.chart-wrapper {
    max-width: 500px;
    min-width: 150px;
    margin: 0 auto;
}

.chart-wrapper .inner{
    position: relative;
    padding-bottom: 50%;
    width: 100%;
}
.chart-wrapper .inner_plane {
    width: 100%;
    height: 100%;
}

.chart-wrapper .outer_plane {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.chart-wrapper text {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
}

.chart-wrapper .axis path,
.chart-wrapper .axis line {
    fill: none;
    stroke: #000000;
}

.chart-wrapper .line {
  fill: none;
  stroke-width: 2px;
}

.chart-wrapper .legend  {
    display: flex;
    padding: 20px 60px;
    font-size: 12px;
}

.chart-wrapper .legend > div {
    margin: 0px 25px 10px 0px;
}
.chart-wrapper .legend p {
    display:inline;
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
}

.chart-wrapper .legend .series-marker {
    height: 1em;
    width: 1em;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: -0.16rem;
}

.chart-wrapper .overlay {
  fill: none;
  pointer-events: all;
}

.chart-wrapper .hover circle {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
  fill-opacity: 10%;
}
.chart-wrapper .hover rect {
    fill: lightblue;
    opacity: 0.4;
    border-radius: 2px;
}
.chart-wrapper .hover.line {
    stroke: steelblue;
    stroke-dasharray: 2,5;
    stroke-width: 2;
    opacity: 0.5;
}

